<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPSuMnuhPhepbg4QRz0oyHhYEBk2hODxU</string>
	<key>GCM_SENDER_ID</key>
	<string>164193138914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juanpa.flutter-clean-architecture.dev</string>
	<key>PROJECT_ID</key>
	<string>flutter-dev-ec416</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-dev-ec416.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164193138914:ios:6d0686eaf36bc7e86786bb</string>
</dict>
</plist>